.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    z-index: 3;
    display: flex;

    .mobile-menu__container {
        position: absolute;
        top: 50px;
        max-width: 768px;
        width: 100%;
        height: 220px;
        background-color: rgb(31, 24, 51);
        z-index: 5;

        .nav__list {
            display: flex;
            flex-direction: column;
            align-items: center;
            list-style-type: none;
            padding: 0;
            margin: 0;

            .nav__item {
                font-family: "Roboto", sans-serif;
                font-size: 16px;
                font-weight: 900;
                margin: 10px 0 0 0;

                .nav__link {
                    text-decoration: none;
                    color: white;
                
                }

                .nav__link_active {
                    color: #00e0d0;
                }
            }
        }
    }
}
