.expertise {
    max-width: 1600px;
    width: 100%;
    height: 755px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #413d4b;
    font-family: 'Playfair Display', serif;
    text-align: center;
}

.expertise__title {
    font-size: 22px;
    margin: 66px 0 15px 0;
    font-weight: 700;
}

.expertise__paragraph {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
    margin: 10px 0 0 0;

    &::after {
        background-color: #c6c4c9;
        content: "";
        margin: 20px 0 0 0;
        display: inline-block;
        height: 1px;
        position: relative;
        vertical-align: middle;
        width: 50px;            
    }
}

.expertise__container {
    max-width: 960px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 40px 0 0 0;
}

.expertise__service {
    width: 320px;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid #ebebeb;
    border-right: 1px solid #ebebeb;
    box-sizing: border-box;

    .expertise__logo {
        width: 50px;
        height: 50px;
        background: url('../../images/expertise-sprite.png') no-repeat;
        margin: 40px 0 0 0;

        &.development {
            background-position: -50px 0;
        }

        &.branding {
            background-position: -100px 0;
        }

        &.mobile {
            background-position: -50px -56px;
        }

        &.search {
            background-position: 0 0px;
        }

        &.games {
            background-position: -100px -50px;
        }

        &.love {
            background-position: 0 -50px;
        }
    }

    .expertise__name {
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
        font-weight: 600;
        margin: 35px 0 0 0;
    }

    .expertise__description {
        font-family: 'Roboto', sans-serif;
        color: #666666;
        font-size: 14px;
        font-weight: 300;
        margin: 20px 10px 0 10px;
    }
    
}

@media screen and (min-width: 977px) {
    .expertise__service:nth-child(3n) {
        border-right: none;
    }
    .expertise__service:nth-child(4) {
        border-bottom: none;
    }
    .expertise__service:nth-child(5) {
        border-bottom: none;
    }
    .expertise__service:nth-child(6) {
        border-bottom: none;
    }
}

@media screen and (min-width: 658px) and (max-width: 976px) {
    .expertise {
        height: 1000px;
    }

    .expertise__service:nth-child(2n) {
        border-right: none;
    }
    .expertise__service:nth-child(5) {
        border-bottom: none;
    }
    .expertise__service:nth-child(6) {
        border-bottom: none;
    }
}

@media screen and (max-width: 657px) {
    .expertise {
        height: 1740px;
    }

    .expertise__service {
        border-right: none;
    }
}