.reviews {
    max-width: 1600px;
    width: 100%;
    min-height: 500px;
    background-image: url('../../images//bgImage4.jpg');
    background-size: cover;

    &::after{
        content: "";
        width: 100%;
        height: 500px;
        position: absolute;
        background-image: linear-gradient(0deg, rgba(9, 5, 47, 0.85) 0px, rgba(49, 29, 94, 0.85) 100%);
    }
}