.popup {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.5);
    align-items: center;
    justify-content: center;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup__container {    
    width: 500px;
    min-height: 282px;
    background-color: #fff;
    border-radius: 15px;
    position: relative;
    box-sizing: border-box;
    padding: 20px;
    z-index: 5;
    margin: 40px;
}

.popup__iframe {
    width: 100%;
    height: 240px;
}

.popup__close {
    top: -30px;
    right: -30px;
    position: absolute;
}
