.team {
    max-width: 1600px;
    width: 100%;
    height: 712px;
    display: flex;
    justify-content: center;
    background-image: url('../../images/bgImage3.jpg');
    font-family: "Playfair Display", serif;

    &::after {
        content: "";
        width: 100%;
        height: 712px;
        position: absolute;
        background-image: linear-gradient(0deg, rgba(9, 5, 47, 0.85) 0px, rgba(49, 29, 94, 0.85) 100%);
    }

    .team_container {
        display: flex;
        flex-direction: column;
        align-items: center;
        z-index: 2;
    }

    .team__title {
        font-size: 22px;
        color: #fff;
        font-weight: 700;
        margin: 67px 0 0 0;
    }

    .team__paragraph {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 12px 0 0 0;
        font-size: 14px;
    
        &::after {
            background-color: #fff;
            content: "";
            margin: 20px 0 5px 0;
            display: inline-block;
            height: 1px;
            position: relative;
            vertical-align: middle;
            width: 50px;            
        }
    }


}

