.footer {
    max-width: 1600px;
    width: 100%;
    min-height: 400px;
    background-image: url('../../images/bgImage5.jpg');
    background-size: cover;
    display: flex;
    justify-content: center;
    position: relative;

    &::after{
        content: "";
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-image: linear-gradient(0deg, rgba(9, 5, 47, 0.85) 0px, rgba(49, 29, 94, 0.85) 100%);
    }

    .footer__container {
        max-width: 960px;
        width: 100%;
        display: flex;
        z-index: 2;
        font-family: "Roboto", sans-serif;
        font-weight: 100;
        margin: 70px 0 0 0;
    }

    .footer__block{
        display: flex;
        flex-direction: column;
        width: 33.33%;

        .footer__logo {
            width: 128px;
            height: 50px;
        }

        .footer__paragraph {
            margin: 30px 0 70px 0;
            font-weight: 100;
        }

        .footer__items {
            padding: 0;
            display: flex;
            justify-content: space-between;
            list-style-type: none;            
        }


        .footer__link {
            text-decoration: none;
            color: white;
            font-weight: 300;
        }

        .footer__title {
            font-size: 15px;
            font-weight: 900;
            margin: 0;
        }

        .footer__address-icon {
            width: 16px;
            height: 19px;
            background-image: url('../../images/adress-sprite.png');
            background-repeat: no-repeat;
            margin: 0 15px 0 0;
    
            &.tel {
                background-position: 0 0;
            }

            &.point {
                background-position: -16px 0;
            }
        }

        .footer__address-container {     
            display: flex;
            margin: 30px 0 0 0;
        }
        
        .footer__tel-container {
            flex-wrap: wrap;
            display: flex;
            margin: 20px 0;
        }


        .footer__address {
            max-width: 245px;
            margin: 0;
            font-style: normal;
        }

        .footer__tel {
            max-width: 245px;
            margin: 0;
            text-decoration: none;
            color: white;
        }

        .footer__form {
            margin: 35px 0 27px 0;
            display: flex;
            justify-content: baseline;
        }
        
        .footer__input {
            font-size: 14px;
            font-weight: 700;
            max-width: 210px;
            width: 80%;
            height: 45px;
            margin: 0 10px 0 0;
            padding: 0 16px;
            border: 1px solid rgba(255, 255, 255, 0.5);
            background-color: transparent;
            color: rgba(255,255,255,.75);
        
        }

        .footer__submit-btn {
            width: 70px;
            height: 47px;
            color: #9f98b2;
            background-color: #9f98b2;
            outline: 0;
            border: none;
        }

        .footer__sm-items {
            list-style-type: none;
            display: flex;
            flex-wrap: wrap;
            margin: 0;
            padding: 0;
        }

        .footer__sm-icon {
            width: 35px;
            height: 35px;
            margin: 0 8px 0 0;
            background: url('../../images/sm-sprite.png') no-repeat;            
    
            &.facebook {
                background-position: 0 -3px;
            }

            &.twitter {
                background-position: -43px -3px;
            }

            &.dribble {
                background-position: -87px -3px;
            }

            &.instagram {
                background-position: -130px -3px;
            }

            &.google {
                background-position: -172px -3px;
            }

            &.youtube {
                background-position: -216px -3px;
            }
        }

        .footer__copyright {
            margin-top: 62px;
            text-align: right;
        }

    }

}

@media screen and (min-width: 658px) and (max-width: 990px) {
    .footer {
        text-align: center;

        .footer__paragraph {
            min-height: 150px;
            margin: 30px 0 0 0;
        }

        .footer__container {
            flex-direction: column;
            align-items: center;
        }

        .footer__logo {
            align-self: center;
        }
        .footer__form {
            align-self: center;
        }

        .footer__sm-items {
            align-self: center;
        }

        .footer__block {
            max-width: 600px;
            width: 70%;
            .footer__paragraph {
                min-height: 150px;
                margin: 30px 0 0 0;
            }
            .footer__copyright {
                text-align: center;
            }
        }

        .footer__address-container { 
            flex-direction: column;
            align-items: center;  
        }

        .footer__tel-container {
            flex-direction: column;
            align-items: center;  
        }

        .footer__items {
            flex-direction: column;
            align-items: center;
        }
    }
}

@media screen and (max-width: 658px) {
    .footer {
        text-align: center;
        .footer__container {
            flex-direction: column;
            align-items: center;
        }

        .footer__logo {
            align-self: center;
        }
        .footer__form {
            align-self: center;
        }

        .footer__sm-items {
            align-self: center;
        }

        .footer__block {
            max-width: 600px;
            width: 70%;

            .footer__paragraph {
                min-height: 150px;
                margin: 30px 0 0 0;
            }

            .footer__copyright {
                text-align: center;
            }

            .footer__input {
                font-size: 10px;
            }
        }

        .footer__address-container { 
            flex-direction: column;
            align-items: center;  
        }

        .footer__tel-container {
            flex-direction: column;
            align-items: center;  
        }

        .footer__items {
            flex-direction: column;
            align-items: center;
        }

        .footer__sm-items {
            width: 130px;
        }
        
    }
}